# Core Application Config
PORT=8080
DATABASE_URL=postgres://username:password@localhost:5432/OneAuth
BASE=http://localhost:8080

# Caching & Session Storage
REDIS_URL=redis://localhost:6379

# Email Service (Gmail SMTP)
SMTP_USER=your-oneauth-or-personal-email@gmail.com
SMTP_PASS=your-google-app-password
